.footer {
    width: calc(100% - var(--pc-gap) * 2);
    margin: 0 auto;
    padding: 3.8rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
}

.footer div,
.footer nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 3.8rem;
}
.footer > div > span,
.footer > nav > span {
    color: var(--cr-g1);
    font-weight: 500;
    padding-bottom: 3.8rem;
    width: 100%;
}

.footer div:first-of-type {
    gap: 5rem;
    margin-right: 13.6rem;
}
.footer div:first-of-type strong {
    font-size: 2.4rem;
    font-weight: 700;
}
.footer div:first-of-type p {
    max-width: 28.5rem;
    color: var(--cr-g1);
    line-height: 148%;
}
.footer > nav:first-of-type {
    margin-right: 12.4rem;
}
.footer > nav:last-of-type {
    margin-right: 5.2rem;
}
.footer > nav > a {
    font-weight: 500;
    padding: 1rem 2rem 1rem 0;
    margin-bottom: 2.6rem;
}

.footer div:last-of-type {
    flex: 1;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer div:last-of-type > input[type="text"] {
    width: 20rem;
    margin-right: 1rem;
    border: 0;
    border-bottom: 1px solid var(--cr-b1);
    font-size: 1.4rem;
    padding: 0.4rem 0;
}
.footer > p:last-of-type {
    width: 100%;
    border-top: 1px solid var(--cr-g2);
    padding: 3.5rem 0 3.8rem 0;
    font-weight: 400;
}
